.about-container {
    background-color: #dfe6e9;
    min-width: 50vw;
    border-radius: 40px;
    padding: 40px;
    
}
.title-about {
    font-weight: 500;
    font-size: 50px;
    opacity: 0;
    animation: fadein-BottomToTop 1s forwards;
}
.content-about {
    min-width: 500px;
    font-size: 25px;
    margin: 0 auto;
    opacity: 0;
    animation: fadein-BottomToTop 1s 0.2s forwards;
}
@keyframes fadein-BottomToTop {
    0% { opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0px);}
}